/* common styles */
* {
  font-family: "Work Sans", sans-serif;
}
.tittle {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
}
h4 {
  color: #131313;
  font-weight: 600;
  font-size: 20px;
  
}

.primary-btn,
.primary-batton {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  padding: 20px 25px;
  background: #ff900e;
  border: 0;
  border-radius: 8px;
  width: 180px;
  height: 64px;
  text-align: center;
}
/* header section */
header {
  background: rgba(255, 144, 14, 0.1);
  width: 100%;
  height: 1050px;
  margin-bottom: 61px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tittle {
  margin-left: 240px;
}
.header-nav {
  margin-right: 240px;
}
.nav-name {
  margin-right: 30px;
  text-decoration: none;
  color: #424242;
  font-weight: 500;
  font-size: 18px;
}

/* Banner style */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: grid;
}
.banner-details {
  width: 862px;
  height: 225px;
  left: 350px;
}
.banner-title {
  color: #131313;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  line-height: 75px;
  margin-bottom: 30px;
}

.banner-para {
  color: #727272;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 53px;
}
.primary-btn {
  position: relative;
  left: 350px;
  margin-bottom: 50px;
}
/* img style */
.banner-image {
  width: 100%;
  height: 500px;
  border-radius: 8px;
  position: relative;
  left: 20px;
}

/* feature section */
.feature-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}
.features {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.feature-img {
  width: 342px;
  height: 342px;
  border-radius: 8px;
}

.feature-details {
  position: relative;
  width: 537px;
  height: 304px;
  left: 50px;
}
/* feature-title style */
.A {
  color: #727272;
  font-weight: 500;
  font-size: 45px;
}
.B {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
}
.C {
  color: #ff900e;
  font-weight: 700;
  font-size: 45px;
}
/* features paragraph */
.feature-details p {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
}
/* btn */
.primary-batton {
  position: relative;
  left: 0;
}
/* Features-you-will-love section */

.Features-you-will-love {
  display: flex;
  /* position: absolute; */
  margin: 100px;
  width: 800px;
  height: 1200px;
  /* left: 150px; */
}
.info-container {
  width: 110%;
  height: 982px;
}
.headline {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
  line-height: 35px;
}
.details {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  width: 586px;
  padding: 20px;
  margin-bottom: 5px;
}

.info-para,
.heading {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.architect-img {
  width: 100%;
  height: 1200px;
}
.secondary-button {
  font-weight: 700;
  font-size: 65px;
  line-height: 70px;
  text-align: center;
  color: #ffffff;
  padding: 42px;
  border: 0;
  background: #ff900e;
  border-radius: 8px;
  width: 342px;
  height: 200px;
  position: relative;
  top: -130px;
}
.btn {
  font-size: 25px;
  text-align: center;
}
/* some fat section */
.somefact {
    padding: 100px;
}
.fact-title{
    font-weight: 700;
font-size: 45px;
padding: 0;
margin: 0;

color: #131313;

}
.paragraph {
    font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #727272;
margin-bottom: 50px;
}
.box {
  display: flex;
  gap: 80px;
}
.achivement div {
    padding: 35px;
    width: 169px;
height: 136.22px;
text-align: center;
}
.achivement{
    width: 241.83px;
height: 241.83px;
border: 1px solid #FF900E;
border-radius: 8px;

}
.num {
    font-weight: 600;
font-size: 30px;
color: #424242;
}
.achive {
    font-weight: 600;
font-size: 20px;

color: #727272;
}
